h1 {
  color: blue;
  margin: auto;
  text-align: center;
	font-size: 50px;
}

#board {
  border: 3px solid black;
  width: 696px;
  height: 696px;
  margin: auto;
}

#board > div {
  color: white;
  font-weight: bold;
  font-size: 150px;
  line-height: 228px;
  float: left;
  width: 228px;
  height: 228px;
  background-color: blue;
  margin: 2px;
  text-align: center;
}

button {
  text-align: center;
  margin: 2em auto;
  display: block;

}